/*body {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #FFF2EE url(/image/fade-pink.png) top center repeat-x;
	color: #000;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-top: 5px;
}

td {
	font-size: 10pt;
	padding: 0;
	margin: 0;
}

td.reply {
	border: 1px solid #d9b9b7;
	border-left: none;
	border-top: none;
	padding: 2px;
}

blockquote {
	font-size: 10pt;
}

.doubledash {
	color: #000;
}

.inputtext {
	margin: 0;
	margin-right: 2px;
	padding: 1px 4px;
	border: 1px solid #aaa;
	outline: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
}

input.inputtext {
	height: 1.75em;
}

td>.inputtext {
	height: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.inputtext:focus {
	border: 1px solid #E89;
}

.logo img {
	border: 1px solid #000;
}

.logo b span {
	font-family: tahoma;
}

.logo span {
	font-size: 28px;
	letter-spacing: -2px;
}

hr {
	border: none;
	border-top: 1px solid #d9b9b7;
	height: 0;
}

.postblock {
	border: 1px solid #000;
	font-size: 10pt;
	padding: 0 5px;
	line-height: 20px;
}

.rules {
	font-size: 10pt;
}

.rules a {
	text-decoration: none;
}

form a img {
	margin-top: 3px;
}

iframe,.rotating {
	background: #F0DAD6;
	border-right: 1px solid #d9b9b7;
	border-bottom: 1px solid #d9b9b7;
}

.pages {
	border: none;
	background: #F0DAD6;
	border-right: 1px solid #d9b9b7;
	border-bottom: 1px solid #d9b9b7;
}

.pages td {
	border: none;
	padding: 1px 5px;
}

.pages td {
	color: #d9b9b7;
}

.pages td b {
	color: #000;
}

.deletebuttons {
	text-align: right;
}

.deletebuttons br {
	display: none;
}

a,a:visited {
	color: #5C3434;
}

a:hover {
	color: #00D;
}

a.quotelink {
	color: #229978;
}

.logo {
	clear: both;
	text-align: center;
	font-size: 24pt;
	color: #0F0AAF;
	width: 100%;
}

form {
	margin-top: 0;
}

.rules {
	width: 468px;
	font-size: 10px;
}

.rules>li {
	list-style: none;
}

.rules>li:before {
	content: "\2022 \20";
}

.postblock {
	background: #E89;
	color: #000;
	font-weight: 800;
}

.footer {
	text-align: center;
	font-size: 12px;
}

.unkfunc {
	color: #229978;
}

.filesize {
	text-decoration: none;
}

td .filesize {
	display: inline;
	background: none;
}

.filesize span,span.postername,span.filetitle,span.commentpostername {
	unicode-bidi: embed;
}

.filetitle,.replytitle {
	background: inherit;
	color: #5D0C0F;
	font-weight: 800;
}

.postername,.commentpostername {
	background: inherit;
	color: #437711;
	font-weight: 800;
}

.postertrip {
	background: inherit;
	color: #548822;
}

.oldpost {
	background: inherit;
	color: #5D0C0F;
	font-weight: 800;
}

.omittedposts,.abbr {
	color: #070707;
}

.reply {
	background: #F0DAD6;
	color: #000;
}

.replyhl {
	background: #D0BAD6;
	color: #000;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

a.quotejs:active,a.quotejs:link,a.quotejs:visited {
	color: #000;
	text-decoration: none;
}

a.quotejs:hover {
	color: #d00;
}

.tn_thread {
	width: 200px;
	height: 100px;
	margin: 0 20px 20px 20px;
	float: left;
	background: #fff2ee;
	border: #98e 1px solid;
	text-align: center;
}

.tn_reply {
	width: 100px;
	height: 100px;
	margin: 0 20px 20px 20px;
	float: left;
	background: #fff2ee;
	border: #98e 1px solid;
	text-align: center;
}

.adHeadline {
	font: bold 10pt serif;
	text-decoration: underline;
	color: #00e;
}

.adText {
	font: normal 10pt serif;
	text-decoration: none;
	color: #800;
}

#ad {
	width: 120px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 150px;
	border: 1px solid #98E;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
}

#ad div {
	margin: 0;
	padding: .4em;
}

#ad div.ad-title {
	padding: 0;
	background: #98E;
	color: #000;
	font-size: 11px;
}

#ad div.ad-title a {
	font-family: arial, helvetica, sans-serif;
	color: #000;
}

#ad div.ad-text a {
	font-family: arial, helvetica, sans-serif;
}

.bottomAdTitle {
	font-family: arial, helvetica, sans-serif;
	background: #98E;
	color: #000;
}

#bottomAd {
	height: 52px;
	font-size: 11px;
}

#bottomAdOuter {
	width: 600px;
	border: 1px solid #98E;
	font-size: 11px;
}

.spoiler a.quotelink,.spoiler .unkfunc {
	color: inherit;
}

.exif {
	display: none;
	font-family: arial, helvetica, sans-serif;
	font-size: xx-small;
}

.exif td {
	font-family: arial, helvetica, sans-serif;
	font-size: xx-small;
}

.exif td b {
	font-weight: 800;
	text-decoration: underline;
	font-size: x-small;
}

#header {
	position: absolute;
	top: 2px;
	left: 5px;
	right: 5px;
}

* html #header {
	width: 100%;
}

#navtop,#navbot {
	left: 0;
	float: left;
}

#navtopright,#navbotright {
	right: 0;
	display: block;
	float: right;
	text-align: right;
}

#header,#navbot,#navbotright {
	font-size: 9pt;
	color: #d9b9b7;
}

#header a,#navbot a,#navbotr a,.pages td a {
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
	color: #5C3434;
}

#header a:hover,#navbot a:hover,#navbotr a:hover,.pages td a:hover {
	color: #00D;
}

#footer {
	clear: both;
	padding-top: 10px;
}

#footer center font {
	font-size: 7pt;
}

.pages td a {
	color: #5C3434;
}

td.replyhl {
	border: 1px solid #D0BAD6;
	border-left: none;
	border-top: none;
	padding: 2px;
}

td.deletebuttons input.checkbox {
	margin: 1px 2px 1px 2px;
}

div.logo img {
	margin: 5px 0 5px 0;
}

.fstitle {
	float: left;
	width: 25px;
}*/

/** GENERIC / ELEMENT STYLING **/

body {
	background: #fff2ee url(/image/fade-pink.png) center top repeat-x;
	color: #000;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.nwsb {
	display: none;
}

.party-hat {
	left: 0;
	margin-top: -80px;
	position: absolute;
	pointer-events: none;
}

.mobile, .mobileinline {
	display: none !important;
}

.bottomCtrl {
	float: right;
	margin-top: 2px;
}

#ctrl-top {
	display: none;
}

a, a:visited {
	color: #00e;
}

a:hover {
	color: red;
}

a.replylink, div#absbot a {
	color: #00e !important;
	text-decoration: underline !important;
}

div#absbot {
	color: #800000;
	clear: both;
}

div.board > hr {
	clear: both;
}

img {
	border: none;
}

hr {
	border: none;
	border-top: 1px solid #d9b9b7;
	height: 0;
}

hr.abovePostForm {
	width: 90%;
}

span.x-small {
	font-size: x-small;
}

/** MOBILE ONLY DISABLES **/

.mobile {
	display: none;
}

/** HEADER **/

ul.rules {
	margin: 0;
	padding: 0;
	margin-top: 1px;
}

ul.rules > li {
	list-style: none;
	font-size: 10px;
}

.rules > li:before {
	content: "\2022 \20";
}

div.boardBanner {
	text-align: center;
	clear: both;
}

div.boardBanner > img {
	border: 1px solid #34345c;
	margin: 5px 0 5px 0;
	width: 300px;
	height: 100px;
}

div.boardBanner > div.boardTitle {
	font-family: Tahoma;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 0;
	color: #0f0aaf;
}

div.boardBanner > div.boardSubtitle {
	font-size: x-small;
}

div#boardNavDesktop {
	font-size: 9pt;
	color: #b86;
	display: block;
}

div#boardNavDesktop a {
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
	color: #800000;
}

/** General Containers **/

div.pContainer {
}

div.opContainer {
	display: inline;
}

div.sideArrows {
	color: #e0bfb7;
	float: left;
	margin-right: 2px;
	margin-top: 0;
	margin-left: 2px;
}

/** Thread Container **/

div.thread {
	margin: 0;
	clear: both;
}

/** Post Container **/

div.post {
	margin: 4px 0;
	overflow: hidden;
}



div.reply {
	background-color: #f0dad6;
	border: 1px solid #d9b9b7;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
}

div.reply input {
	float: none;
}

/** Post Information **/

div.post div.postInfo {
	display: block;
	width: 100%;
}

div.post div.postInfo span.postNum {
}

div.post div.postInfo span.postNum a {
	text-decoration: none;
	color: #000;
}

div.post div.postInfo span.postNum a:hover {
	color: d00 !important;
}

/* Name */

div.post div.postInfo span.nameBlock {
	display: inline-block;
}

div.post div.postInfo span.nameBlock span.name {
	color: #437711;
	font-weight: bold;
}

div.post div.postInfo span.nameBlock span.postertrip {
	color: #548822;
	font-weight: normal !important;
}

/* Date/Time */

div.post div.postInfo span.date {
}

div.post div.postInfo span.time {
}

/* Subject */

div.post div.postInfo span.subject {
	color: #5d0c0f;
	font-weight: bold;
}

/** Message **/

div.post blockquote.postMessage {
	display: block;
}

blockquote > span.quote {
	color: #85aba1;
}

a.quoteLink, a.quotelink, .deadlink {
	color: #229978 !important;
}

/** File Information **/

div.post div.file {
	display: block;
}

div.post div.file div.fileInfo {
	margin-right: 10px;
}

div.replyContainer div.post div.file div.fileInfo {
	margin-left: 20px;
}

div.post div.file .fileThumb {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
}

span.fileThumb {
	margin-left: 0 !important;
	margin-right: 5px !important;
}

div.reply span.fileThumb, div.reply span.fileThumb img {
	float: none !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.post div.file .fileThumb img {
	border: none;
	float: left;
	margin-bottom: 5px;
}

/** Summary **/

span.summary {
	color: #707070;
	margin-top: 10px;
}

/** POST FORM **/

div.postingMode {
	background-color: #e04000;
	padding: 1px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: larger;
}

div.navLinks {
	margin-bottom: 10px;
}

div.navLinksBot {
	margin-bottom: 0;
}

#verification table {
	border: none !important;
	margin: 0;
}

/** FOOTER **/

div.thread:last-child {
	padding-bottom: 21px;
	margin-bottom: 6px;
}

div.pagelist {
	font-size: 13px !important;
	margin: 0;
	padding: 3px 7px;
	float: left;
	border: none;
	background: #f0e0d6;
	border-right: 1px solid #d9b9b7;
	border-bottom: 1px solid #d9b9b7;
	list-style: none;
	overflow: hidden;
	color: #b86;
}

div.pagelist > div {
	float: left;
}

div.pagelist > div span {
	padding: 4px;
	display: inline-block;
}

div.pagelist div.pages {
	padding: 4px;
}

div.pagelist div.pages a {
	text-decoration: none !important;  /* FINE MOOT GOSH JEEZ */
}

div.pagelist form {
	display: inline;
}

div.pagelist strong {
	color: #800000;
}

div.deleteform {
	float: right;
	margin-top: 2px;
}

input[type=password] {
	width: 50px;
	text-align: center;
}

div.deleteform input[type=checkbox] {
	margin: 1px 2px 1px 2px;
}

div.stylechanger {
	float: right;
	font-size: 10pt;
	clear: both;
}

div.stylechanger select {
	display: inline;
}

div#boardNavDesktopFoot {
	font-size: 9pt;
	color: #b86;
	clear: both;
	padding-top: 10px;
	padding-bottom: 3px;
}

div#boardNavDesktopFoot a {
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
	color: #800000;
}

div.homelink {
	float: right;
}

div#absbot {
	text-align: center;
	font-size: xx-small !important;
	padding-bottom: 4px;
	color: #800;
}

#recaptcha_response_field {
	padding: 0;
}

/** POST FORM **/

table {
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}

#postForm {
	display: none;
}

#togglePostFormLink {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

table.postForm > tbody > tr > td:first-child {
	background-color: #e89;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	padding: 0 5px;
	font-size: 10pt;
}

tr.rules td {
	border: 0 !important;
	background-color: transparent !important;
	font-weight: normal !important;
}

td {
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

table.postForm > tbody input[type=text], input[type=password], table.postForm > tbody textarea {
	margin: 0;
	margin-right: 2px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #aaa;
	outline: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
}

table.postForm > tbody > tr > td > input[type=text] {
	width: 232px;
}

table.postForm > tbody > tr > td > input[name="subject"] {
	width: 300px;
}

.postblock {
	background-color: #e89;
	color: #800;
	font-weight: bold;
	border: 1px solid #800;
	padding: 0 5px;
	font-size: 10pt;
}

div.closed {
	font-size: x-large;
	text-align: center;
	color: red;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	tbody textarea {
		margin-bottom: -3px !important;
	}
	
	
}

.commentpostername {
	font-weight: bold;
}

.identityIcon {
	margin-bottom: -3px;
}

.stickyIcon {
	margin-bottom: -1px;
	padding-left: 2px;
	height: 16px;
	width: 16px;
}

.closedIcon {
	margin-bottom: -1px;
	margin-left: -1px;
	height: 16px;
	width: 16px;
}

.trashIcon {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
}

.fileDeleted {
	height: 13px;
	width: 172px;
}

.fileDeletedRes {
	height: 13px;
	width: 127px;
}

.navSmall {
	font-size: 90%;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.smaller {
	font-size: smaller;
}

.password {
	font-size: smaller;
}

.passNotice {
	font-size: smaller;
	padding-left: 6px;
}

.qcDiv {
	display: none;
}

.qcImg {
	height: 1px;
	width: 1px;
	border: 0;
}

.jpnFlag {
	height: 11px;
	width: 17px;
}

.globalMessage {
	color: red;
	text-align: center;
}

.highlightPost {
	background: #f0d6d6 !important;
	border-color: #d69595 !important;
}

.reply:target, .replyContainer .highlight {
	background: #f0c0b0 !important;
	border: 1px solid #d99f91 !important;
	border-left: none !important;
	border-top: none !important;
	padding: 2px;
}

span.capcodeAdmin span.name, span.capcodeAdmin span.name a, span.capcodeAdmin span.postertrip, span.capcodeAdmin strong.capcode {
	color: #f00 !important;
}

span.capcodeMod span.name, span.capcodeMod span.name a, span.capcodeMod span.postertrip, span.capcodeMod strong.capcode {
	color: #800080 !important;
}

.omittedposts, .abbr {
	color: #707070;
}

span.spoiler {
	color: #000 !important;
	background: #000 !important;
}

span.spoiler:hover, span.spoiler:focus {
	color: #fff !important;
}

table.exif {
	min-width: 450px;
}

table.exif td {
	color: #707070;
	min-width: 150px;
	font-size: 8pt;
}

table.exif td b {
	text-decoration: underline;
}

div.posthover {
	max-width: 400px;
	margin-left: 20px;
}

div.posthover {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div.posthover a.fileThumb {
	margin-left: 5px !important;
	margin-right: 10px !important;
}

div.posthover blockquote {
	margin: 5px;
}

div.posthover img[data-md5] {
	max-width: 80px;
	max-height: 80px;
	height: auto !important;
	width: auto !important;
}

div.posthover div.fileThumb {
	margin-left: 0 !important;
	margin-right: 10px !important;
}

#navtopright, #navbotright {
	float: right;
}

.preview {
	background: #f0e0d6;
	border: 1px solid #d9b9b7 !important;
	border-right: 2px solid #d9b9b7 !important;
	border-bottom: 2px solid #d9b9b7 !important;
}

#settingsBox {
	position: absolute;
	right: 10px;
	margin-top: 10px;
}

div.backlink {
	font-size: x-small !important;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.backlink span {
	padding-right: 5px;
}

div#boardNavMobile {
	padding: 5px;
	background-color: #e7dad6;
	overflow: hidden;
	border-bottom: 1px solid #dcc5b8;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

div#boardNavMobile select, div#boardNavMobile option {
}

div.boardSelect {
	float: left;
}

div.pageJump {
	float: right;
	padding-right: 10px;
}

/** QUICK REPLY **/

div.qrWindow {
	position: absolute;
	z-index: 10000;
}

div.qrHeader {
	padding: 2px;
	font-size: small;
	text-align: center;
}

div.qrForm {
	padding: 3px;
}

span.qrButtonHolder {
	position: absolute;
	right: 5px;
	text-align: right;
	top: 3px;
}

span.qrButtonHolder a {
	text-decoration: none;
}

span.qrButtonHolder img {
	cursor: pointer;
	margin-bottom: -1px;
	margin-top: 1px;
}

.extButton img {
	margin-top: 3px;
	margin-bottom: -3px;
	margin-left: 4px;
}

.qrMessage {
	padding: 2px;
	text-align: center;
}

.op .backlinkHr {
	width: 55%;
}

.useremail .name, .useremail .postertrip {
	color: #0000ee !important;
}

img.expandedImg {
	max-width: none !important;
	max-height: none !important;
}

/** this is not important **/

#captchaContainer {
	overflow: hidden;
}

#captchaContainer > img {
	float: left;
	border: 1px solid #aaa;
	margin-bottom: 1px;
}

#captchaInfo {
	float: left;
	margin-left: 5px;
	visibility: hidden;
}

#captchaResponse {
	width: 292px;
}

.prettyprint {
	border: none !important;
	background-color: #fff;
	padding: 5px !important;
	display: inline-block;
	max-height: 400px;
	overflow-x: auto;
	max-width: 600px;
}

input:not([type=submit]):focus, textarea:focus {
	border: 1px solid #e89 !important;
}

input[type="text"], input[type="password"], textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/** fix stupid google recaptcha padding in webkit **/

iframe[src="about:blank"] {
	display: none;
}

textarea[name="com"] {
	width: 292px;
}

input[type=password] {
	width: 50px;
	text-align: center;
}

.deadlink {
	text-decoration: line-through;
}

#search-cnt {
	display: none;
}

#search-ok {
	text-decoration: none;
	line-height: 1;
	cursor: pointer;
}

#search-box {
	width: 100px;
	font-size: 11px;
	height: 12px;
	margin-right: 5px;
	padding: 0;
}

#tooltip {
	position: absolute;
	background-color: #181f24;
	font-size: 11px;
	line-height: 13px;
	padding: 3px 6px;
	z-index: 100000;
	word-wrap: break-word;
	white-space: pre-line;
	max-width: 400px;
	color: #fff;
	text-align: center;
}

.tip-top-left:before, .tip-top-right:before, .tip-top:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #181f24;
	margin-left: -4px;
	bottom: -4px;
}

.tip-top:before {
	left: 50%;
}

.tip-top-right:before {
	left: 2px;
	margin-left: 0;
}

.tip-top-left:before {
	right: 2px;
}

.dd-menu {
	position: absolute;
	font-size: 13px;
	line-height: 1.3em;
}

.dd-menu a {
	text-decoration: none;
	color: inherit !important;
	display: block;
}

.dd-menu ul {
	background-color: #f0e0d6;
	border: 1px solid #d9bfb7;
	border-bottom: none;
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.dd-menu ul ul {
	display: none;
	position: absolute;
}

.dd-menu li {
	cursor: pointer;
	position: relative;
	padding: 2px 4px;
	vertical-align: middle;
	border-bottom: 1px solid #d9bfb7;
}

.dd-menu li:hover {
	background-color: #ffffee;
}

.dd-menu li:hover ul {
	display: block;
	left: 100%;
	margin-top: -3px;
}

.dd-menu.dd-menu-left li:hover ul {
	left: auto;
	right: 100%;
}